#Folders
drawer/
project/

4ertiognic.cpp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

4ertiognic_v1/
project_4ertiognic.VC.opendb
project_4ertiognic.sdf
project_4ertiognic.sln
Debug
*.sdf
